{{#if company}}
    
    <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
            <h5>Minha Empresa</h5>
            </div>
            <div class="card-body">
            <form method="POST" action="/admin/my-company/{{company.companyID}}/update">
            <h4>Informações essenciais</h4>
                <div class="mb-3">
                <label for="name" class="form-label">Nome</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Seu nome"
                    value= "{{company.name}}"
                />
                </div>
                <div class="mb-3">
                <label for="cpDocument" class="form-label">Documento (CNPJ)</label>
                <input
                    type="text"
                    class="form-control"
                    id="cpDocument"
                    name="cpDocument"
                    placeholder="CNPJ"
                    value="{{company.document}}"
                />
                </div>
                <div class="mb-3">
                <label for="phone" class="form-label">Telefone</label>
                <input
                    type="tel"
                    class="form-control"
                    id="phone"
                    name="phone"
                    placeholder="Seu telefone"
                    value="{{company.phone}}"
                />
                </div>
                <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Seu email"
                    value="{{company.email}}"
                />
                <small>Mudar o email fará com que seus anúncios sejam direcionados ao novo endereço.</small>
                </div>
                
                <h4 class="mt-5">Configurações</h4>
                    <a class="btn btn-primary mt-2" href="/admin/team">Gerenciar equipe</a>
                    <a class="btn btn-warning mt-2" href="./" aria-disabled="">Gerenciar plano</a>

                <h4 class="mt-5">Localização</h4>
                <div class="mb-3">
                <label for="locationCode" class="form-label">CEP</label>
                <input
                    type="text"
                    class="form-control"
                    id="locationCode"
                    name="locationCode"
                    placeholder="cep"
                    value="{{company.locationCode}}"
                />
                </div>
                <div class="mb-3">
                <label for="street" class="form-label">Rua</label>
                <input
                    type="text"
                    class="form-control"
                    id="street"
                    name="street"
                    placeholder="Rua"
                    value="{{company.street}}"
                />
                </div>
                <div class="mb-3">
                <label for="streetNumber" class="form-label">Nº</label>
                <input
                    type="number"
                    class="form-control"
                    id="streetNumber"
                    name="streetNumber"
                    placeholder="Número do edifício"
                    value="{{company.streetNumber}}"
                />
                </div>
                <div class="mb-3">
                <label for="neighborhood" class="form-label">Bairro</label>
                <input
                    type="text"
                    class="form-control"
                    id="neighborhood"
                    name="neighborhood"
                    placeholder="Bairro"
                    value="{{company.neighborhood}}"
                />
                </div>
                <div class="mb-3">
                <label for="city" class="form-label">Cidade</label>
                <input
                    type="text"
                    class="form-control"
                    id="city"
                    name="city"
                    placeholder="Cidade"
                    value="{{company.city}}"
                />
                </div>
                <div class="mb-3">
                <label for="state" class="form-label">Estado</label>
                <input
                    type="text"
                    class="form-control"
                    id="state"
                    name="state"
                    placeholder="Estado"
                    value="{{company.state}}"
                />
                </div>
                <div class="mb-3">
                <label for="country" class="form-label">País</label>
                <input
                    type="text"
                    class="form-control"
                    id="country"
                    name="country"
                    placeholder="País"
                    value="{{company.country}}"
                />
                </div>
                
                <div class="d-flex justify-content-end mt-4">
                <a href="/admin" class="btn btn-secondary me-2">Voltar</a>
                <button type="submit" class="btn btn-success">
                    Salvar
                </button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
    
{{else}}

    <form method="POST" action="/admin/newcompany">
        <h4>Cadastre a sua imobiliária aqui</h4>
        <div class="form-group">
            <label for="claimantCpName">Nome</label>
            <input type="text" class="form-control" id="claimantCpName" name="claimantCpName" placeholder="Imobiliária dosToc">
        </div>
        <div class="form-group">
            <label for="claimantCpDocument">Documento (CNPJ)</label>
            <input type="text" class="form-control" id="claimantCpDocument" name="claimantCpDocument" placeholder="00.000.000/0001-00">
        </div>
        <div class="form-group">
            <label for="claimantPhone">Telefone</label>
            <input type="tel" class="form-control" id="claimantPhone" name="claimantPhone" placeholder="+ 55 41 99999-9999">
        </div>
        <div class="form-group">
            <label for="claimantCpEmail">Email</label>
            <input type="email" class="form-control" id="claimantCpEmail" name="claimantCpEmail" placeholder="email@dostoc.com">
            <small>Este endereço de e-mail será usado excluivamente como opção de contato a clientes, portanto não será possível usá-lo login em nosso site.</small>
        </div>
        <div class="form-group">
            <label for="claimantCpLocation">CEP</label>
            <input type="text" class="form-control" id="claimantCpLocation" name="claimantCpLocation" placeholder="90.000-000">
        </div>
        <div class="form-group">
            <label for="claimantCpStreet">Rua</label>
            <input type="text" class="form-control" id="claimantCpStreet" name="claimantCpStreet" placeholder="Rua da Conquista">
        </div>
        <div class="form-group">
            <label for="claimantCpStreetNumber">Número</label>
            <input type="number" class="form-control" id="claimantCpStreetNumber" name="claimantCpStreetNumber" placeholder="1080">
        </div>
        <div class="form-group">
            <label for="claimantCpNeighborhood">Bairro</label>
            <input type="text" class="form-control" id="claimantCpNeighborhood" name="claimantCpNeighborhood" placeholder="Boqueirão">
        </div>
                <div class="form-group">
            <label for="claimantCpCity">Cidade</label>
            <input type="text" class="form-control" id="claimantCpCity" name="claimantCpCity" placeholder="Volta Redonda">
        </div>
                <div class="form-group">
            <label for="claimantCpState">Estado</label>
            <input type="text" class="form-control" id="claimantCpState" name="claimantCpState" placeholder="Rio de Janeiro">
        </div>
        <div class="form-group">
            <label for="claimantCpCountry">País</label>
            <input type="text" class="form-control" id="claimantCpCountry" name="claimantCpCountry" placeholder="Brasil">
        </div>
        <a href="/admin" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>

{{/if}}


