<h4>Im贸veis</h4>
<a class="btn btn-dark" href="/admin/real-states/new-real-state">Cadastrar novo im贸vel</a>
<table class="table table-hover mt-4">
  <thead>
    <tr>
        <th class="bg-primary text-white">Capa</th>
        <th class="bg-primary text-white">ID</th>
        <th class="bg-primary text-white">Tipo de im贸vel</th>
        <th class="bg-primary text-white">N潞 salas</th>
        <th class="bg-primary text-white">Bairro</th>
        <th class="bg-primary text-white">Cidade</th>
        <th class="bg-primary text-white">Valor</th>
        <th class="bg-primary text-white">Op莽玫es</th>
    </tr>
  </thead>
  <tbody>
    {{#if property}}
      {{#each property}}
      <tr>
          <td>
            <img src="/{{this.src}}" alt="Capa do im贸vel" class="img-thumbnail" style="width: 50px; height: 50px;">
          </td>
          <td>{{this.id}}</td>
          <td>{{this.type}}</td>
          <td>{{this.rooms}}</td>
          <td>{{this.neighborhood}}</td>
          <td>{{this.city}}</td>
          <td>{{this.saleValue}}</td>
          <td>
            <div class="d-grid gap-2 d-md-block">
              <a href="/admin/real-states/{{this.id}}" class="btn btn-info">Detalhes</a>
              <a href="/admin/real-states/{{this.id}}/hidden" class="btn btn-danger"></a>
            </div>
          </td>
      </tr>
      {{/each}}
    {{else}}
      <p class="mt-2">Voc锚 n茫o cadstrou nenhum im贸vel. Cadastre seu primeiro!</p>
    {{/if}}

  </tbody>
</table>
<a href="/admin" class="btn btn-secondary">Voltar</a>