<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
        <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
            <h5>Detalhes do imóvel | ID {{realS.realStateID}}</h5>
            </div>
            <div class="card-body">
                <!--enctype for Multer library NOT ADDED IN THIS  UPDATE ROUTE YET-->
                <form method="POST" action="/admin/real-states/{{realS.realStateID}}/update">
                    <h4 class="mt-2">Dados essenciais</h4>

                    <div class="dropdownMenus col-md-12 mt-4">
                        <div class='form-field'>
                            <label for='type'>Tipo de imóvel</label>
                            <select id='type' name="type" class='form-control'>
                            {{realS.type}}</option selected>
                            <option value="Casa">Casa</option>
                            <option value="Terreno">Terreno</option>
                            <option value="Apartamento">Apartamento</option>
                            <option value="Sobrado">Sobrado</option>
                            <option value="Sítio">Sítio</option>
                            <option value="Galpão">Galpão</option>
                            <option value="Studio/Sala comercial">Studio/Sala comercial</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="floor">Andar (se apartamento)</label>
                        <input type="number" class="form-control" id="floor" name="floor"  value="{{realS.floor}}">
                    </div>
                    <div class="dropdownMenus col-md-12">
                        <div class='form-field'>
                            <label for='propertySituation'>Situação do imóvel</label>
                            <select id='propertySituation' name="propertySituation" class='form-control'>
                            {{realS.propertySituation}}</option selected>
                            <option value="Novo">Novo</option>
                            <option value="Usado">Usado</option>
                            <option value="Em construção">Em construção</option>
                            <option value="Reformado">Reformado</option>
                            <option value="Em reforma">Em reforma</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="description">Descrição do imóvel</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                    <div class="form-group">
                        <label for="rooms">Nº salas</label>
                        <input type="number" class="form-control" id="rooms" name="rooms"  value="{{realS.rooms}}">
                    </div>
                    <div class="form-group">
                        <label for="bathrooms">Nº banheiros</label>
                        <input type="number" class="form-control" id="bathrooms" name="bathrooms"  value="{{realS.bathrooms}}">
                    </div>
                    <div class="form-group">
                        <label for="parkingSpaces">Vagas de garagem</label>
                        <input type="number" class="form-control" id="parkingSpaces" name="parkingSpaces"  value="{{realS.parkingSpaces}}">
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags</label>
                        <input type="text" class="form-control" id="tags" name="tags" value="{{realS.tags}}" disabled>
                        <small class="mt-1">Em desenvolvimento...</small>
                    </div>
                    <label for="media">Carregar fotos e vídeos</label>
                    <img src="/{{realS.src}}" alt="Foto do imóvel" class="img-thumbnail d-flex justify-content-center" style="width: 20vw; height: 20vw;">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="media">Upload</label>
                        <input type="file" class="form-control" id="uploaded_file" name="uploaded_file" disabled>
                    </div>
                    <small>Nesta primeira versão (0.0.1), não é possível atualizar a foto ou inserir mais de uma. Atualização em breve!</small>
                    



                    <h4 class="mt-5">Dados financeiros</h4>

                    <div class="form-group mt-4">
                        <label for="saleValue">Valor de venda</label>
                        <input type="number" class="form-control" id="saleValue" name="saleValue" value="{{realS.saleValue}}">
                    </div>
                    <div class="form-group mt-4">
                        <label for="assessedValue">Valor de avaliação</label>
                        <input type="number" class="form-control" id="assessedValue" name="assessedValue" value="{{realS.assessedValue}}">
                    </div>
                    <div class="form-group">
                        <label for="financingMaxValue">Valor máximo financiável</label>
                        <input type="number" class="form-control" id="financingMaxValue" name="financingMaxValue"  value="{{realS.financingMaxValue}}">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="exchange" name="exchange">
                        <label class="form-check-label" for="exchange">
                            Aceita permuta?
                        </label>
                    </div>
                    <div class="dropdownMenus col-md-12 mt-3">
                        <div class='form-field'>
                            <label for='rentalOrSale'>Tipo de anúncio</label>
                            <select id='rentalOrSale' name="rentalOrSale" class='form-control'>
                            {{realS.rentalOrSale}}</option selected>
                            <option value="Venda">Venda</option>
                            <option value="Aluguel">Aluguel</option>
                            <option value="Ambos">Ambos</option>
                            </select>
                        </div>
                    </div>         
                    <div class="form-group mt-3">
                        <label for="currency">Moeda</label>
                        <input type="text" class="form-control" id="currency" name="currency" value="{{realS.currency}}" readonly>
                    </div>
                    <div class="form-check mt-4">
                        <input class="form-check-input" type="checkbox" value="true" id="financeable" name="financeable">
                        <label class="form-check-label" for="financeable">
                            Financiável?
                        </label>
                    </div>
                    <div class="form-check mt-4">
                        <input class="form-check-input" type="checkbox" value="true" id="tax" name="tax">
                        <label class="form-check-label" for="tax">
                            Imposto a pagar?
                        </label>
                    </div>
                    <div class="dropdownMenus col-md-12 mt-4">
                        <div class='form-field'>
                            <label for='taxFrequency'>Frequência de pagamento de impostos (se houver)</label>
                            <select id='taxFrequency' name="taxFrequency" class='form-control'>
                            {{realS.taxFrequency}}</option selected>
                            <option value="Único">Único</option>
                            <option value="Mensal">Mensal</option>
                            <option value="Anual">Anual</option>
                            </select>
                        </div>
                    </div>     
                    <div class="form-group mt-3">
                        <label for="taxValue">Total em impostos</label>
                        <input type="number" class="form-control" id="taxValue" name="taxValue" value="{{realS.taxValue}}">
                    </div>

                    <h4 class="mt-5">Localização</h4>
                    <div class="form-group mt-4">
                        <label for="locationCode">CEP</label>
                        <input type="text" class="form-control" id="locationCode" name="locationCode" value="{{realS.locationCode}}">
                    </div>
                    <div class="form-group">
                        <label for="address">Rua</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{realS.address}}">
                    </div>
                    <div class="form-group">
                        <label for="addressNumber">Número</label>
                        <input type="number" class="form-control" id="addressNumber" name="addressNumber"  value="{{realS.addressNumber}}">
                    </div>
                    <div class="form-group">
                        <label for="complement">Complemento</label>
                        <input type="text" class="form-control" id="complement" name="complement" value="{{realS.complement}}">
                    </div>
                    <div class="form-group">
                        <label for="neighborhood">Bairro</label>
                        <input type="text" class="form-control" id="neighborhood" name="neighborhood" value="{{realS.neighborhood}}">
                    </div>
                    <div class="dropdownMenus col-md-12">
                        <div class='form-field'>
                            <label for='region'>Região</label>
                            <select id='region' name="region" class='form-control'>
                            {{realS.region}}</option selected>
                            <option value="Sul">Sul</option>
                            <option value="Oeste">Oeste</option>
                            <option value="Norte">Norte</option>
                            <option value="Leste">Leste</option>
                            <option value="Central">Central</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="city">Cidade</label>
                        <input type="text" class="form-control" id="city" name="city" value="{{realS.city}}">
                    </div>
                    <div class="form-group">
                        <label for="state">Estado</label>
                        <input type="text" class="form-control" id="state" name="state" value="{{realS.state}}">
                    </div>
                    <div class="form-group">
                        <label for="country">País</label>
                        <input type="text" class="form-control" id="country" name="country" value="{{realS.country}}">
                    </div>



                    <h4 class="mt-5">Complementares</h4>

                    <div class="form-group mt-4">
                        <label for="landArea">Área total</label>
                        <input type="number" class="form-control" id="landArea" name="landArea" value="{{realS.landArea}}">
                    </div>
                    <div class="form-group">
                        <label for="builtUpArea">Área construída</label>
                        <input type="number" class="form-control" id="builtUpArea" name="builtUpArea" value="{{realS.builtUpArea}}">
                    </div>
                    <div class="dropdownMenus col-md-12">
                        <div class='form-field'>
                            <label for='face'>Face do imóvel</label>
                            <select id='face' name="face" class='form-control'>
                            {{realS.face}}</option selected>
                            <option value="Sul">Sul</option>
                            <option value="Sudoeste">Sudoeste</option>
                            <option value="Oeste">Oeste</option>
                            <option value="Noroeste">Noroeste</option>
                            <option value="Norte">Norte</option>
                            <option value="Nordeste">Nordeste</option>
                            <option value="Leste">Leste</option>
                            <option value="Sudeste">Sudeste</option>
                            <option value="Não identificado">Não identificado</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" value="true" id="publish" name="publish">
                        <label class="form-check-label" for="publish">
                            Publicar no site?
                        </label>
                    </div>
                    <div class="dropdownMenus col-md-12 mt-3">
                        <div class='form-field'>
                            <label for='commercialSituation'>Situação comercial</label>
                            <select id='commercialSituation' name="commercialSituation" class='form-control'>
                            {{realS.commercialSituation}}</option selected>
                            <option value="Ativo">Ativo</option>
                            <option value="Inativo">Inativo</option>
                            <option value="Vendido">Vendido</option>
                            <option value="Suspenso">Suspenso</option>
                            <option value="Alugado">Alugado</option>
                            <option value="Permutado">Permutado</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input mt-3" type="checkbox" value="true" id="condominium" name="condominium">
                        <label class="form-check-label" for="condominium">
                            Imóvel em condomínio?
                        </label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="condominiumNumber">Nº edifício no condomínio</label>
                        <input type="number" class="form-control" id="condominiumNumber" name="condominiumNumber"  value="{{realS.condominiumNumber}}">
                    </div>



                    <h4 class="mt-5">Informações do proprietário</h4>

                    <div class="form-group mt-4">
                        <label for="name">Nome completo</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{realS.owner.name}}">
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Telefone</label>
                        <input type="number" class="form-control" id="phoneNumber" name="phoneNumber" value="{{realS.owner.phoneNumber}}">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{realS.owner.email}}">
                    </div>
                    <a href="./" class="btn btn-secondary mt-5">Voltar</a>
                    <a href="/admin/real-states/{{realS.realStateID}}/hidden" class="btn btn-danger mt-5">🗑</a>
                    <button type="submit" class="btn btn-success mt-5">Atualizar</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</div>